.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  list-style: none;
  margin: 40px;
  padding: 0;

}

.movie-list__item {
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}



@media (max-width: 680px){
  .movie-list{
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}